.bag {
    background-image: url("../imgs/bag.jpg");
}

.banana {
    background-image: url("../imgs/banana.jpg");
}

.bathroom {
    background-image: url("../imgs/bathroom.jpg");
}

.boots {
    background-image: url("../imgs/boots.jpg");
}

.breakfast {
    background-image: url("../imgs/breakfast.jpg");
}

.bubblegum {
    background-image: url("../imgs/bubblegum.jpg");
}

.chair {
    background-image: url("../imgs/chair.jpg");
}

.cthulhu {
    background-image: url("../imgs/cthulhu.jpg");
}

.dogDuck {
    background-image: url("../imgs/dog-duck.jpg");
}

.dragon {
    background-image: url("../imgs/dragon.jpg");
}

.pen {
    background-image: url("../imgs/pen.jpg");
}

.petSweep {
    background-image: url("../imgs/pet-sweep.jpg");
}

.scissors {
    background-image: url("../imgs/scissors.jpg");
}

.shark {
    background-image: url("../imgs/shark.jpg");
}

.sweep {
    background-image: url("../imgs/sweep.png");
}

.tauntaun {
    background-image: url("../imgs/tauntaun.jpg");
}
.sweep {
    background-image: url("../imgs/sweep.png");
}
.unicorn {
    background-image: url("../imgs/unicorn.jpg");
}
.usb {
    background-image: url("../imgs/usb.gif");
}
.waterCan {
    background-image: url("../imgs/water-can.jpg");
}
.wineGlass {
    background-image: url("../imgs/wine-glass.jpg");
}